.fyfont172002{ font-weight: bold; font-size: 11pt; color: #000000; font-family: 宋体; text-decoration: none ;}
.font172002{ font-size: 9pt; color: #000000; font-family: 宋体; background-color: #eeeeee; text-decoration: none ;}
.bgstyle172002{ font-size: 9pt; color: #000000; font-family: 宋体 ;}
.font1172002{ font-size: 9pt; color: #000000; font-family: 宋体; background-color: #f9f9f9; text-decoration: none ;}
.hffont172002{ font-size: 9pt; color: #000000; font-family: 宋体; text-decoration: none ;}
.window172002{ font-size: 9pt; color: #000000; font-family: 宋体; text-decoration: none ;}

