.splitcharstyle122737{ font-family: 宋体; color: #ffffff; font-size: 9pt ;}
.font122737{ font-family: 宋体; color: #ffffff; font-size: 9pt ;}

.erjifontover122738{ font-size: 10pt; color: #cc0000; line-height: 180%;}
.leaderfont122738{ color: #222222; font-size: 10pt;}
.erjibackground122738{ background-color: #eff8fe ;}
.currentfontStyle122738{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle122738{ font-family: 宋体; color: #ffffff; font-size: 10pt; font-weight: bold;}
.yijifontover122738{ font-family: 宋体; color: #ffcc00; font-size: 10pt; font-weight: bold;}
.erjibackgroundover122738{ background-color: #e8f0fb ;}
.ejfontstyle122738{ font-size: 10pt; color: #222222; line-height: 180%;}

.font122739{ font-size: 9pt ;}
.fontstyle122739{ font-size: 9pt; color: #222222; font-family: 宋体 ;}

.leaderfont122740{ font-family: 宋体; color: #333333; font-size: 9pt ;}
.querystyle122740{ background-image: url(images/ico_002.gif); border-bottom: #878787 1px solid; position: relative; border-left: #878787 1px solid; padding-left: 20px; background-repeat: no-repeat; font-family: 宋体; background-position: left center; height: 16px; color: #222222; font-size: 10pt; border-top: #878787 1px solid; border-right: #878787 1px solid; padding-top: 6px ;}
.searchstyle122740{ line-height: 200% ;}

.titlestyle122753{ font-family: 黑体; color: #ffffff; font-size: 11pt; font-weight: bold ;}

.erjifontover122754{ font-size: 9pt; color: #cc0000; line-height: 160% ;}
.leaderfont122754{ color: #222222; font-size: 9pt ;}
.yijibackground122754{ background-image: url(images/leftdh_bg.gif) ;}
.erjibackground122754{ background-color: #eff8fe ;}
.currentfontStyle122754{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle122754{ padding-left: 30px; color: #222222; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.yijifontover122754{ padding-left: 30px; color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.erjibackgroundover122754{ background-color: #e8f0fb ;}
.yijibackgroundover122754{ background-image: url(images/leftdh_bg.gif) ;}
.ejfontstyle122754{ font-size: 9pt; color: #222222; line-height: 160% ;}

.windowstyle122755{ font-weight: bold; font-size: 10pt; color: #222222; font-family: 宋体 ;}

.splitflagstyle122756{ color: #222222 ;}
.fontstyle122756{ font-size: 10pt; color: #222222; text-decoration: none;}
.winstyle122756{ font-size: 10pt; color: #222222; font-family: 宋体;}

     .tpcontent{font-weight: bold; font-size: 11pt; color: #2b2b2b; font-family: 宋体;}
     .cytpstyle{font-size: 9pt; color: #2b2b2b; font-family: 宋体;}
     .content{margin:auto;text-align:left;line-height:18px;padding:3px 0 0 0;color:#727272;}
     .process{width:162px;height:11px;background:#EDEDED;overflow:hidden;float:left;margin-left:26px !important;margin-left:13px;margin-right:10px;}
     .process div{width:160px;height:11px;background:url(system/resource/images/newsvote/bg.gif) repeat-x;border-left:1px solid #000;border-right:1px solid #000;}
     .process .style7{border-left-color:#ff0000;border-right-color:#ff0000;background-position:0 -77px;}

.leaderstyle122746{ letter-spacing: 10px; color: #d3a5a6; font-size: 9pt ;}
.linkstyle122746{ color: #d3a5a6; font-size: 9pt ;}
A.c122746 {
color: #d3a5a6; font-size: 9pt 
;}
A.c122746:link {
color:;}
A.c122746:visited {
color:;}
A.c122746:active {
color: ;}
A.c122746:hover {
color: ;}
