.splitcharstyle122737{ font-family: 宋体; color: #ffffff; font-size: 9pt ;}
.font122737{ font-family: 宋体; color: #ffffff; font-size: 9pt ;}

.erjifontover122738{ font-size: 10pt; color: #cc0000; line-height: 180%;}
.leaderfont122738{ color: #222222; font-size: 10pt;}
.erjibackground122738{ background-color: #eff8fe ;}
.currentfontStyle122738{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle122738{ font-family: 宋体; color: #ffffff; font-size: 10pt; font-weight: bold;}
.yijifontover122738{ font-family: 宋体; color: #ffcc00; font-size: 10pt; font-weight: bold;}
.erjibackgroundover122738{ background-color: #e8f0fb ;}
.ejfontstyle122738{ font-size: 10pt; color: #222222; line-height: 180%;}

.font122739{ font-size: 9pt ;}
.fontstyle122739{ font-size: 9pt; color: #222222; font-family: 宋体 ;}

.leaderfont122740{ font-family: 宋体; color: #333333; font-size: 9pt ;}
.querystyle122740{ background-image: url(images/ico_002.gif); border-bottom: #878787 1px solid; position: relative; border-left: #878787 1px solid; padding-left: 20px; background-repeat: no-repeat; font-family: 宋体; background-position: left center; height: 16px; color: #222222; font-size: 10pt; border-top: #878787 1px solid; border-right: #878787 1px solid; padding-top: 6px ;}
.searchstyle122740{ line-height: 200% ;}

.morestyle122741{ font-size: 9pt ;}
.clickstyle122741{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont122741{ font-size: 9pt; line-height: 150% ;}
.titlestyle122741{ line-height: 200%; font-size: 9pt; text-decoration: none ;}
.columnstyle122741{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle122741{ line-height: 150%; color: #999999; font-size: 9pt ;}
A.c122741 {
line-height: 200%; font-size: 9pt; text-decoration: none 
;}
A.c122741:link {
color:#222222;}
A.c122741:visited {
color:#222222;}
A.c122741:active {
color: #222222;}
A.c122741:hover {
color: #cc0000;}
.titlestyle122742{ line-height: 220%; color: #222222; font-size: 9pt; font-weight: bold; text-decoration: none ;}
.summarystyle122742{ line-height: 150%; color: #222222; font-size: 9pt ;}

.morestyle122743{ font-size: 9pt ;}
.clickstyle122743{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont122743{ font-size: 9pt; line-height: 150% ;}
.titlestyle122743{ line-height: 200%; font-size: 9pt; text-decoration: none ;}
.columnstyle122743{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle122743{ line-height: 150%; color: #999999; font-size: 9pt ;}
A.c122743 {
line-height: 200%; font-size: 9pt; text-decoration: none 
;}
A.c122743:link {
color:#222222;}
A.c122743:visited {
color:#222222;}
A.c122743:active {
color: #222222;}
A.c122743:hover {
color: #cc0000;}
.titlestyle122747{ font-size: 9pt; color: #222222; text-decoration: none ;}

.titlestyle122748{ font-size: 9pt; color: #222222; text-decoration: none ;}

.morestyle122745{ font-size: 9pt ;}
.clickstyle122745{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont122745{ font-size: 9pt; line-height: 150% ;}
.titlestyle122745{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle122745{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle122745{ line-height: 150%; color: #999999; font-size: 9pt ;}
A.c122745 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c122745:link {
color:#222222;}
A.c122745:visited {
color:#222222;}
A.c122745:active {
color: #222222;}
A.c122745:hover {
color: #cc0000;}
.morestyle122749{ font-size: 9pt ;}
.clickstyle122749{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont122749{ font-size: 9pt; line-height: 150% ;}
.titlestyle122749{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle122749{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle122749{ line-height: 150%; color: #999999; font-size: 9pt ;}
A.c122749 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c122749:link {
color:#222222;}
A.c122749:visited {
color:#222222;}
A.c122749:active {
color: #222222;}
A.c122749:hover {
color: #cc0000;}
.titlestyle122752{ font-size: 9pt; color: #222222; text-decoration: none ;}

.morestyle122750{ font-size: 9pt ;}
.clickstyle122750{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont122750{ font-size: 9pt; line-height: 150% ;}
.titlestyle122750{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle122750{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle122750{ line-height: 150%; color: #999999; font-size: 9pt ;}
A.c122750 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c122750:link {
color:#222222;}
A.c122750:visited {
color:#222222;}
A.c122750:active {
color: #222222;}
A.c122750:hover {
color: #cc0000;}
.morestyle122751{ font-size: 9pt ;}
.clickstyle122751{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont122751{ font-size: 9pt; line-height: 150% ;}
.titlestyle122751{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle122751{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle122751{ line-height: 150%; color: #999999; font-size: 9pt ;}
A.c122751 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c122751:link {
color:#222222;}
A.c122751:visited {
color:#222222;}
A.c122751:active {
color: #222222;}
A.c122751:hover {
color: #cc0000;}
.leaderstyle122746{ letter-spacing: 10px; color: #d3a5a6; font-size: 9pt ;}
.linkstyle122746{ color: #d3a5a6; font-size: 9pt ;}
A.c122746 {
color: #d3a5a6; font-size: 9pt 
;}
A.c122746:link {
color:;}
A.c122746:visited {
color:;}
A.c122746:active {
color: ;}
A.c122746:hover {
color: ;}
