.splitcharstyle122737{ font-family: 宋体; color: #ffffff; font-size: 9pt ;}
.font122737{ font-family: 宋体; color: #ffffff; font-size: 9pt ;}

.erjifontover122738{ font-size: 10pt; color: #cc0000; line-height: 180%;}
.leaderfont122738{ color: #222222; font-size: 10pt;}
.erjibackground122738{ background-color: #eff8fe ;}
.currentfontStyle122738{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle122738{ font-family: 宋体; color: #ffffff; font-size: 10pt; font-weight: bold;}
.yijifontover122738{ font-family: 宋体; color: #ffcc00; font-size: 10pt; font-weight: bold;}
.erjibackgroundover122738{ background-color: #e8f0fb ;}
.ejfontstyle122738{ font-size: 10pt; color: #222222; line-height: 180%;}

.font122739{ font-size: 9pt ;}
.fontstyle122739{ font-size: 9pt; color: #222222; font-family: 宋体 ;}

.leaderfont122740{ font-family: 宋体; color: #333333; font-size: 9pt ;}
.querystyle122740{ background-image: url(images/ico_002.gif); border-bottom: #878787 1px solid; position: relative; border-left: #878787 1px solid; padding-left: 20px; background-repeat: no-repeat; font-family: 宋体; background-position: left center; height: 16px; color: #222222; font-size: 10pt; border-top: #878787 1px solid; border-right: #878787 1px solid; padding-top: 6px ;}
.searchstyle122740{ line-height: 200% ;}

.titlestyle122753{ font-family: 黑体; color: #ffffff; font-size: 11pt; font-weight: bold ;}

.erjifontover122754{ font-size: 9pt; color: #cc0000; line-height: 160% ;}
.leaderfont122754{ color: #222222; font-size: 9pt ;}
.yijibackground122754{ background-image: url(images/leftdh_bg.gif) ;}
.erjibackground122754{ background-color: #eff8fe ;}
.currentfontStyle122754{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle122754{ padding-left: 30px; color: #222222; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.yijifontover122754{ padding-left: 30px; color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.erjibackgroundover122754{ background-color: #e8f0fb ;}
.yijibackgroundover122754{ background-image: url(images/leftdh_bg.gif) ;}
.ejfontstyle122754{ font-size: 9pt; color: #222222; line-height: 160% ;}

.windowstyle122755{ font-weight: bold; font-size: 10pt; color: #222222; font-family: 宋体 ;}

.splitflagstyle122756{ color: #222222 ;}
.fontstyle122756{ font-size: 10pt; color: #222222; text-decoration: none;}
.winstyle122756{ font-size: 10pt; color: #222222; font-family: 宋体;}

.clickstyle122757{ line-height: 200%; color: #222222; font-size: 10pt;}
.leaderfont122757{ line-height: 230%; color: #222222; font-size: 9pt ;}
.titlestyle122757{ line-height: 200%; font-size: 10pt; text-decoration: none;}
.columnstyle122757{ line-height: 150%; color: #222222; font-size: 9pt; text-decoration: none ;}
.buttonstyle122757{ font-size: 9pt ;}
.timestyle122757{ line-height: 200%; color: #555555; font-size: 10pt;}
.winstyle122757{ padding: 0px;}
A.c122757 {
line-height: 200%; font-size: 10pt; text-decoration: none;}
A.c122757:link {
color:#222222;}
A.c122757:visited {
color:#222222;}
A.c122757:active {
color: #222222;}
A.c122757:hover {
color: #cc0000;}
.leaderstyle122746{ letter-spacing: 10px; color: #d3a5a6; font-size: 9pt ;}
.linkstyle122746{ color: #d3a5a6; font-size: 9pt ;}
A.c122746 {
color: #d3a5a6; font-size: 9pt 
;}
A.c122746:link {
color:;}
A.c122746:visited {
color:;}
A.c122746:active {
color: ;}
A.c122746:hover {
color: ;}
