
.selectTab{
	width: 200px;
    height: 33px;
    float: left;
    margin: 0 auto;
    text-align:center;
}
.selectTab:HOVER {
	cursor: pointer;
	background-color: blue;
}
#tablesecurity2 tr td{
	font-size: 16px!important;
}
