
  
  
/***** 正文 *****/
.topx001{ width:958px; height:29px; background:url(../imagesv2/bg_200.jpg) top center no-repeat; font:bold 30px/29px "Microsoft YaHei"; color:#737373; text-align:center; margin-top:48px;}

.textx001 { width:950px; margin-top:40px;}










  
  
  